body {
    font-family: 'Arial', sans-serif;
    background-color: #212121 !important;
    margin: 0;
    padding: 0;
    color:whitesmoke !important;
}

#form {
    background: radial-gradient(#131a04, #024c029b);
    padding: 2em 5em;
    margin: auto auto 10em auto !important;
    border: 2px solid rgba(7, 122, 32, 0.939);
    box-shadow: 0 10px 20px rgba(237, 5, 36, 0.71);
    max-width: 800px;
}

#form:hover{
    box-shadow: 10px 20px 30px rgba(237, 5, 36, 0.71);
}

.heading{
    font-size: larger;
    font-weight: bolder;
}

#btn{
    margin-top: 20px;
    padding: 5px 20px;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------*/

#card {
    margin: 10em;
    padding: 3em;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}

#card:hover{
    box-shadow: 10px 20px 30px rgba(113, 237, 5, 0.71);
}
  
.card-inner {
    width: inherit;
    height: inherit;
    padding: 3em;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.circle {
    width: 150px;
    height: 150px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-upleft 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -10px;
    left: -10px;
}

.circle:nth-child(2) {
    bottom: -10px;
    right: -10px;
    animation-name: move-downlright;
}

@keyframes move-upleft {
  to {
    transform: translateX(-30px) translateY(-30px);

  }
}

@keyframes move-downlright {
  to {
    transform: translateX(30px) translateY(30px);
  }
}

/* ------------------------------------------------------------------------------------------------------*/

.user-info {
    margin-bottom: 5em;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 0.5px solid #18ff08e3;
}

#profile_pic {
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 50px rgba(51, 237, 5, 0.71);
    margin-bottom: 4em;
}
.rounded {
    border-radius: 50%;
}

#name {
    font-weight: bolder;
}

#link {
    display: block;
    margin-top: 20px;
}

/* ------------------------------------------------------------------------------------------------------*/

.repositories-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    justify-content: center;
    gap: 20px;
    color:#212121;
}

.repository-box {
    transition: transform 0.3s ease-in-out;
    background-color: #eaeaea;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    /* display: inline-block; */
    flex: 1 0 calc(50% - 20px); 
    display: flex;
    flex-direction: column;
}

.repositories-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    text-align: center;
}

@media (min-width: 768px) {
    .repositories-grid .repository-box {
        width: calc(50% - 20px);
    }
}

.repository-box:hover {
    transform: scale(1.02);
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: auto; 
}

.tech-stack-box {
    background-color: #1093c3;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 5px;
}

/* ------------------------------------------------------------------------------------------------------*/

.loader {
    display: none;
    --var-size: 2.8rem;
    --var-speed: .9s;
    --var-color: #19ff08;
    position: relative;
    margin-top: 20px; 
    height: var(--var-size); 
    width: var(--var-size);
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--var-color);
    transform: scale(0);
    opacity: 0.5;
    animation: buffer calc(var(--var-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot:nth-child(2)::before {
    animation-delay: calc(var(--var-speed) * -0.875);
}

.dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot:nth-child(3)::before {
    animation-delay: calc(var(--var-speed) * -0.75);
}

.dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot:nth-child(4)::before {
    animation-delay: calc(var(--var-speed) * -0.625);
}

.dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot:nth-child(5)::before {
    animation-delay: calc(var(--var-speed) * -0.5);
}

.dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot:nth-child(6)::before {
    animation-delay: calc(var(--var-speed) * -0.375);
}

.dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot:nth-child(7)::before {
    animation-delay: calc(var(--var-speed) * -0.25);
}

.dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot:nth-child(8)::before {
    animation-delay: calc(var(--var-speed) * -0.125);
}

@keyframes buffer {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }   
    50% {
      transform: scale(1);
      opacity: 1;
    }
}